.card__container {
  position: relative;
  margin-top: 1vh;
  margin-bottom: 1vh;
  transition: all, 0.2s;
}

.card__container:hover {
  transform: scale(1.1);

  cursor: pointer;
}
.card__container:hover img{
  filter: brightness(0.6);
}
.card__container img {
  width: 100%;
}

.card__title {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #ffffff;
  background-color: transparent;
  font-size: 1.5rem;
  text-shadow: 2px 2px #000000;
}

.card__container:hover .card__title{
  display: flex;
}
