.MovieDetail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;

    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 12vh auto;

    background-color: var(--background-1);
}

.MovieDetail span{
    font-weight: 700;
}

.MovieDetail__banner{
    justify-self: end;
}

.MovieDetail__info{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    align-items: flex-start;
    padding: 1rem;
}

.MovieDetail__title{
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    width: 100%;
    color: #FFF;
}

.MovieDetail__overview{
    font-size: 1.2rem;
    font-weight: 300;
    color: #FFF;
}

.MovieDetail__release,
.MovieDetails__companiesLabel,
.MovieDetails__genres,
.MovieDetail__language,
.MovieDetail__revenue{
    font-size: 1.7rem;
    font-weight: 500;
    color: #FFF;
}

.MovieDetails__list{
    margin-left: 5vw;
    font-size: 1.7rem;
    font-weight: 300;
    color: #e0e0e0;
    list-style: none;
}

@media (max-width:1200px){
    .MovieDetail{
        grid-template-columns: 1fr;
    }
    .MovieDetail__banner{
        justify-self: center;
        width: 100%;
    }
}